<section class="about">
  <h1>Hassan Kamran</h1>
  <p>
    I am an engineer based in Islamabad, striving to establish myself as a
    thought leader in science and technology. I am actively seeking contract
    work and open to all kinds of projects.
  </p>
  <p>
    I was born on April 20, 1995, at CMH Multan, but my roots trace back to
    Nowshera, Khyber Pakhtunkhwa—a town 45 km from Peshawar. My grandfather,
    Advocate Bahir Ullah Khan, was a prominent legal figure, a life member of
    the Supreme Court of Pakistan, and the Advocate General of Khyber
    Pakhtunkhwa. Though he resided in the Cantt area, our ancestral home is in
    <a href="https://en.wikipedia.org/wiki/Pir_Piai" aria-label="My Village"
      >Pir Piai</a
    >. I continue to honor his legacy, and if not for practical considerations,
    I would have named my daughter Breshan Hassam Kamran Bashir—but I chose to
    simplify it for convenience.
  </p>
  <p>
    My father, a retired Brigadier General, was an aeronautical engineer with a
    dynamic career spanning IT companies, power plants, and various impactful
    roles in the Army.
  </p>
  <p>
    From an early age, I had a strong passion for engineering and taught myself
    programming, which has been an integral part of my journey ever since.
  </p>
  {% include "cta.html" %}
  <p>
    I have always been ahead of the curve. Long before modern Computer-Aided
    Design (CAD) became standard, I used LEGO simulations to design my robots
    before building them in the real world.
  </p>
</section>
