<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta_des }}" />
    {{ canonical }}
    <title>{{ title }}</title>
    {{ comment_open }}

    <link
      rel="preload"
      as="image"
      href="{{ static }}/{{ preload }}-mini.avif"
      type="image/avif"
      media="(max-width: 767px)"
    />
    <link
      rel="preload"
      as="image"
      href="{{ static }}/{{ preload}}.avif"
      type="image/avif"
      media="(min-width: 768px)"
    />
    {{ comment_close}}

    <link
      rel="preload"
      href="{{ static }}/Exo2-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <link
      rel="preload"
      href="{{ static }}/style.css"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="{{ static }}/style.css" /></noscript>

    <link
      class="favicon"
      rel="icon"
      type="image/svg+xml"
      href="{{ static }}/favicon.svg"
    />
    <script src="{{ static }}/minisearch@7.1.2.min.js"></script>
    <script src="{{ static }}/search.js" defer></script>
    <script src="{{ static }}/readmore.js" defer></script>
  </head>

  <body>
    <header>
      <nav class="siteHeader">
        <div class="siteHeaderLeft">
          <a href="{{ home }}" aria-label="Home">
            {{ inject_svg('logo', True, 'logo') | safe }}
          </a>
        </div>
        <button
          class="hamburger-btn"
          popovertarget="sideMenuPopover"
          popovertargetaction="toggle"
          aria-label="Open menu"
        >
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </button>

        <div popover="manual" id="sideMenuPopover" class="side-menu-popover">
          <div class="side-menu-container">
            <div class="popover-header">
              <button
                class="close-btn"
                popovertarget="sideMenuPopover"
                popovertargetaction="hide"
                aria-label="Close menu"
              >
                <span class="close-line"></span>
                <span class="close-line"></span>
              </button>
            </div>

            <ul class="popover-menu">
              <li>
                <a href="{{ blog }}" aria-label="My Work & Ideas"
                  >My Work & Ideas</a
                >
              </li>
              <li>
                <a href="{{ about }}" aria-label="Who I Am">Who I Am</a>
              </li>

              <li>
                <a href="{{ resume }}" aria-label="My Resume">My Resume</a>
              </li>
              <li>
                <button class="popover-button" popovertarget="modal">
                  Get in Touch
                </button>
              </li>
              <li>
                <button class="search-button" popovertarget="search-box">
                  {{ inject_svg('search_icon', True, 'search-icon') | safe }}
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="siteHeaderCenter desktop-menu">
          <ul>
            <li>
              <a href="{{ blog }}" aria-label="My Work & Ideas"
                >My Work & Ideas</a
              >
            </li>
            <li><a href="{{ about }}" aria-label="Who I AM">Who I Am</a></li>

            <li>
              <a href="{{ resume }}" aria-label="My Resume">My Resume</a>
            </li>
            <li>
              <button class="popover-button" popovertarget="modal">
                Get in Touch
              </button>
            </li>
          </ul>
        </div>
        <div class="siteHeaderRight desktop-menu">
          <button
            aria-label="Search"
            class="search-button"
            popovertarget="search-box"
          >
            {{ inject_svg('search_icon', True, 'search-icon') | safe }}
          </button>
        </div>
      </nav>

      <div id="search-box" popover="manual" class="search-popover">
        <div class="search-container">
          <div class="search-header">
            <h2>Search</h2>
            <button
              class="close-btn"
              popovertarget="search-box"
              aria-label="Close search"
            >
              <span class="close-line"></span>
              <span class="close-line"></span>
            </button>
          </div>
          <form id="search-form">
            <div class="search-input-container">
              <input
                type="text"
                id="search-input"
                name="q"
                placeholder="Search for articles, projects, etc."
                aria-label="Search input"
                autocomplete="off"
                required
              />
              <button
                type="submit"
                class="search-submit"
                aria-label="Submit search"
              >
                {{ inject_svg('search_icon', True, 'search-submit-icon') | safe
                }}
              </button>
            </div>
          </form>

          <div id="search-results-container" class="search-results-container">
            <div id="search-results" class="search-results"></div>
          </div>
        </div>
      </div>

      <div class="modal" id="modal" popover="manual">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close-btn" popovertarget="modal">
              <span class="close-line"></span>
              <span class="close-line"></span>
            </button>
            <h2>Let's Work Together</h2>
            <p>I'm always open to new opportunities and collaborations.</p>
          </div>
          <div class="contact-section">
            <h2>Contact Information</h2>
            <div class="contact-grid">
              <div class="contact-item">
                {{ inject_svg('orcid', True) }}
                <ul>
                  <li>
                    <a
                      href="https://orcid.org/0009-0005-3034-1679"
                      target="_blank"
                      aria-label="ORCID"
                      >0009-0005-3034-1679</a
                    >
                  </li>
                </ul>
              </div>
              <div class="contact-item">
                {{ inject_svg('mail', True) }}
                <div>
                  <ul>
                    <li>
                      <a
                        aria-label="Primary Email"
                        href="mailto:contact@engrhassankamran.com"
                        >contact@engrhassankamran.com</a
                      >
                    </li>
                    <li>
                      <a
                        aria-label="Secondary Email"
                        href="mailto:hassan@big0.dev"
                        >hassan@big0.dev</a
                      >
                    </li>
                    <li>
                      <a
                        aria-label="Tertiary Email"
                        href="mailto:engr.hassan.kamran@gmail.com"
                        >engr.hassan.kamran@gmail.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="contact-item">
                {{ inject_svg('phone', True) }}
                <ul>
                  <li>
                    <a aria-label="Phone Number" href="tel:+923039441945"
                      >+92 303 944 1945</a
                    >
                  </li>
                </ul>
              </div>
              <div class="contact-item">
                {{ inject_svg('location', True) }}
                <div>
                  <ul>
                    <li>
                      <a
                        href="https://www.google.com/maps/place/D,+4+Ln+8,+Sector+Sector+D+DHA+Phase+II,+Islamabad,+44000,+Pakistan/@33.536934,73.17158,17z/data=!4m6!3m5!1s0x38dfede671289865:0x64fc3e2e7640e099!8m2!3d33.538249!4d73.1723217!16s%2Fg%2F11jpthkvdz?entry=ttu&g_ep=EgoyMDI1MDIxMi4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank"
                        aria-label="Address"
                      >
                        House 4, Lane 8, Sector D, DHA 2, Islamabad, Pakistan
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="social-links">
            <a href="https://big0.dev/" target="_blank" aria-label="Big0.dev">
              {{ inject_svg('big0_logo', True) }}
            </a>
            <a
              href="https://www.linkedin.com/in/engr-hassan-kamran"
              target="_blank"
              aria-label="LinkedIn"
            >
              {{ inject_svg('linkedin', True) }}
            </a>
            <a
              href="https://github.com/hassan-kamran"
              target="_blank"
              aria-label="Github"
            >
              {{ inject_svg('github', True) }}
            </a>
            <a
              href="https://www.youtube.com/@EngrHassanKamran"
              target="_blank"
              aria-label="YouTube"
            >
              {{ inject_svg('youtube', True) }}
            </a>
            <a
              href="https://www.upwork.com/freelancers/~015d257597dfcd7778"
              target="_blank"
              aria-label="Upwork"
            >
              {{ inject_svg('upwork', True) }}
            </a>

            <a
              href="https://verification.pec.org.pk/v/eV/sED/i.aspx?eid=31322F303035353532"
              target="_blank"
              aria-label="PEC Verification"
            >
              {{ inject_svg('pec-mini', True) }}
            </a>
          </div>
        </div>
      </div>
    </header>

    <main>{{ content }}</main>

    <footer class="siteFooter">
      <div class="footerContent">
        <div class="footerLinks">
          <a href="{{ contact }}" aria-label="Contact">Contact</a>
          <a href="{{ privacy }}" aria-label="Privacy Policy">Privacy Policy</a>
          <a href="{{ terms }}" aria-label="Terms of Service"
            >Terms of Service</a
          >
          <a href="{{ sitemap }}" aria-label="Sitemap">Sitemap</a>
        </div>
        <div class="footerCopyright">
          <p>&#169; {{ copyright }} EHK. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
