<section class="cta">
  <div>
    <h2>Transform Your Business Today</h2>
    <p>
      Ready to turn challenges into competitive advantages? Let's create
      solutions that drive real results for your business.
    </p>
    <button class="popover-button btn" popovertarget="modal">
      Get in Touch
    </button>
  </div>
  <div>
    <picture>
      <source
        srcset="{{ static | safe }}/cta-mini.avif"
        media="(max-width: 768px)"
        width="256"
        height="128"
      />
      <img
        src="{{ static | safe }}/cta.avif"
        alt="Hassan Kamran working on engineering projects"
        loading="lazy"
        width="1024"
        height="512"
      />
    </picture>
  </div>
</section>
