<section>
  <div>
    <h2>Transform Your Business Today</h2>
    <p>
      Ready to turn challenges into competitive advantages? Let's create
      solutions that drive real results for your business.
    </p>
    <button class="popover-button btn" popovertarget="modal">
      Get in Touch
    </button>
  </div>
  <div>
    <picture>
      <source
        srcset="static/cta-mini.avif"
        media="(max-width: 768px)"
        width="256"
        height="128"
      />

      <img
        src="./static/cta.avif"
        alt="Hassan Kamran Working"
        height="512"
        width="1024"
      />
    </picture>
  </div>
</section>
