<section class="hero">
  <div class="hero-content">
    <div class="badge-container">
      <div class="badge">
        <p>7+ Years Experience</p>
      </div>
      <div class="badge">
        <p>Trusted Globally</p>
      </div>
    </div>
    <h1>Let's Work Together</h1>
    <p id="hero-text">
      Transforming technical challenges into business advantages through
      innovative AI, IoT, and cloud solutions. Bringing engineering leadership
      and strategic vision to deliver measurable results for your organization.
    </p>
    <button class="popover-button btn" popovertarget="modal">
      Get in Touch
    </button>

    <div class="educational-affiliation">
      <div class="scroll-container">
        <div>
          <h2>Proud Alumnus Of</h2>
        </div>
        <div class="logos">
          {% set logo_content %}
          <div class="logo-item">
            <a
              href="https://www.beaconhouse.net/"
              target="_blank"
              aria-label="Beaconhouse School System"
            >
              <img
                src="./static/bss.svg"
                alt="Beaconhouse School System"
                width="64"
                height="64"
              />
              <div class="logo-details">
                <p>Beaconhouse School System <br />O Level<br />2010-12</p>
              </div>
            </a>
          </div>
          <div class="logo-item">
            <a
              href="https://www.linkedin.com/company/saintmarysacademylalazar/"
              target="_blank"
              aria-label="Saint Mary's Academy"
            >
              <img
                src="./static/sma.svg"
                alt="Saint Mary's Academy"
                width="64"
                height="64"
              />
              <div class="logo-details">
                <p>Saint Mary's Academy<br />A Level<br />2012-14</p>
              </div>
            </a>
          </div>
          <div class="logo-item">
            <a
              href="https://nust.edu.pk/"
              target="_blank"
              aria-label="National University of Secience and Technology"
            >
              <img
                src="./static/nust.svg"
                alt="National University of Science and Technology"
                width="64"
                height="64"
              />
              <div class="logo-details">
                <p>
                  National University of Science and Technology<br />BE
                  Mechatronics<br />2014-19
                </p>
              </div>
            </a>
          </div>
          <div class="logo-item">
            <a
              href="https://en.wikipedia.org/wiki/Pakistan_Military_Academy"
              target="_blank"
              aria-label="Pakistan Military Academy"
            >
              <img
                src="./static/pma.svg"
                alt="Pakistan Milirary Academy"
                width="64"
                height="64"
              />
              <div class="logo-details">
                <p>
                  Pakistan Military Academy<br />Officer Training<br />2019-20
                </p>
              </div>
            </a>
          </div>
          <div class="logo-item">
            <a
              href="https://case.edu.pk/"
              target="_blank"
              aria-label="Sir Syed CASE Institute of Technology"
            >
              <img
                src="./static/case.svg"
                alt="Sir Syed CASe Institute of Technology"
                width="64"
                height="64"
              />
              <div class="logo-details">
                <p>
                  Sir Syed CASE Institute of Technology<br />MS Computer
                  Science<br />2022-25
                </p>
              </div>
            </a>
          </div>
          {% endset %} {{ logo_content }} {% for i in range(5) %} {{
          logo_content }} {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <figure class="hero-image">
    <picture>
      <source
        srcset="static/hero-mini.avif"
        media="(max-width: 768px)"
        width="465"
        height="465"
      />
      <img
        src="./static/hero.avif"
        width="258"
        height="512"
        alt="Hassan Kamran, confidently posing in business attire with a professional and approachable expression."
      />
    </picture>
    <figcaption>Capt (Retd) Engr Hassan Kamran, MSc</figcaption>
  </figure>
</section>
<section class="membership">
  <h2>Distinguished Professional Affiliations</h2>
  <div class="membership-cards">
    <a
      href="https://www.pec.org.pk/"
      target="_blank"
      class="card"
      aria-label="Pakistan Engineering Council"
    >
      <img
        src="./static/pec.svg"
        alt="Pakistan Engineering Council"
        width="80"
        height="80"
      />
      <h3>Pakistan Engineering Council</h3>
      <p>
        The Pakistan Engineering Council (PEC) is a regulatory body that
        oversees the accreditation of engineering education, the licensing of
        engineers, and the promotion of engineering excellence in Pakistan.
      </p>
    </a>

    <a
      href="https://www.pseb.org.pk/"
      target="_blank"
      class="card"
      aria-label="Pakistan Software Export Board"
    >
      <img
        src="./static/pseb.svg"
        alt="Pakistan Software Export Board"
        width="80"
        height="80"
      />
      <h3>Pakistan Software Export Board</h3>
      <p>
        The Pakistan Software Export Board (PSEB) facilitates the growth of
        Pakistan’s IT and IT-enabled services industry by promoting exports,
        providing support to IT firms and freelancers, and creating business
        opportunities.
      </p>
    </a>

    <a
      href="https://www.ieee.org/"
      target="_blank"
      class="card"
      aria-label="Institute of Electrical and Electronics Engineers"
    >
      <img
        src="./static/ieee.svg"
        alt="Institute of Electrical and Electronics Engineers"
        width="80"
        height="80"
      />
      <h3>Institute of Electrical and Electronics Engineers</h3>
      <p>
        IEEE is the world's largest technical professional organization
        dedicated to advancing technology for humanity through publications,
        conferences, and professional networking.
      </p>
    </a>
  </div>
</section>

<section class="experience">
  <h2>Professional Experience</h2>

  <article>
    <a href="https://big0.dev/" aria-label="Big0.Dev">
      <h3>Founder</h3>
      <p><strong>Company:</strong>Big0.Dev</p>
      <p><strong>Employment Type:</strong> Full-time</p>
      <p><strong>Duration:</strong> Feb 2025 - Present ({{ founder_time }})</p>
      <p><strong>Location:</strong> Islāmābād, Pakistan (On-site)</p>
      <ul>
        <li>Founded Big0.Dev</li>
        <li>Led end-to-end product development</li>
        <li>Built and mentored cross-functional technical and design teams</li>
        <li>Generated high-quality leads with consistent client conversion</li>
      </ul>
      <p>
        <strong>Skills:</strong> Artificial Intelligence (AI), Cloud Computing,
        Critical Thinking, Machine Learning, Mechatronics, Problem Solving,
        Project Management, Software, Lead Generation
      </p>
    </a>
  </article>

  <article>
    <a href="https://oneworldrental.com/" aria-label="One World Rental">
      <h3>Project Architect and AI Developer</h3>
      <p>
        <strong>Company:</strong>
        One World Rental
      </p>
      <p><strong>Employment Type:</strong> Full-time</p>
      <p><strong>Duration:</strong> Nov 2023 - Feb 2025 (1 yr 4 mos)</p>
      <p><strong>Location:</strong> Islamabad, Islāmābād, Pakistan (On-site)</p>
      <ul>
        <li>Fostered data-driven culture by aligning global teams</li>
        <li>Created real-time KPI dashboards from multiple data sources</li>
        <li>Coordinated effectively with global teams on project delivery</li>
        <li>Managed 25-person team to deliver quality projects</li>
        <li>
          Executed projects from requirements to delivery using Agile/Scrum
        </li>
        <li>Migrated legacy websites to modern technology stack</li>
        <li>Built internal process automation tools</li>
      </ul>
      <p>
        <strong>Skills:</strong> SQL, Natural Language Processing (NLP), Cloud
        Computing, Software, ETL, Machine Learning, Engineering, Web
        Development, Leadership, Artificial Intelligence (AI), Business
        Intelligence (BI), Convolutional Neural Networks (CNN), Data Loading,
        Data Modeling, KPI Dashboards, Data Analysis, Project Management,
        Documentation, Big Data, Communication, Data Pipelines
      </p>
    </a>
  </article>

  <article>
    <a href="https://cyberxstudio.com/" aria-label="CyberX Studio">
      <h3>Chief Technology Officer</h3>
      <p>
        <strong>Company:</strong>
        CyberX Studio
      </p>
      <p><strong>Employment Type:</strong> Part-time</p>
      <p><strong>Duration:</strong> Nov 2023 - Feb 2025 (1 yr 4 mos)</p>
      <p><strong>Location:</strong> Islāmābād, Pakistan (On-site)</p>
      <ul>
        <li>Created technical documentation for scalable solutions</li>
        <li>Led 10-person cross-functional team to ensure on-time delivery</li>
        <li>
          Delivered key projects for AWT, FerroTechnics, Yontem Teknoloji, and
          Guide to Pakistan
        </li>
      </ul>
      <p>
        <strong>Skills:</strong> Web Development, Artificial Intelligence (AI),
        Leadership, Engineering, Documentation
      </p>
    </a>
  </article>

  <article>
    <a href="https://pakistanarmy.gov.pk/" aria-label="Pakistan Army">
      <h3>Captain</h3>
      <p>
        <strong>Company:</strong>
        Pakistan Army
      </p>
      <p><strong>Employment Type:</strong> Full-time</p>
      <p><strong>Duration:</strong> Oct 2020 - Sep 2023 (3 yrs)</p>
      <p><strong>Location:</strong> On-site</p>
      <ul>
        <li>Directed maintenance operations ensuring equipment readiness</li>
        <li>Led 100-150 technical personne</li>
        <li>Enforcing strict safety and regulatory compliance</li>
      </ul>
      <p>
        <strong>Skills:</strong> Engineering, Leadership, Human Resources (HR),
        Project Management, Communication
      </p>
    </a>
  </article>

  <article>
    <a
      href="https://www.linkedin.com/company/wisdomwheel/"
      aria-label="WisdomWheel Wireless"
    >
      <h3>Embedded Engineer</h3>
      <p>
        <strong>Company:</strong>

        WisdomWheel Wireless
      </p>
      <p><strong>Employment Type:</strong> Part-time</p>
      <p><strong>Duration:</strong> Dec 2018 - Nov 2019 (1 yr)</p>
      <p><strong>Location:</strong> Islamabad, Islāmābād, Pakistan (On-site)</p>
      <ul>
        <li>Worked on real-time tracking system for shipping container</li>
        <li>
          Participated in meetings and presentations for potential clients
        </li>
      </ul>
      <p>
        <strong>Skills:</strong> Embedded Systems, Software, Mechatronics,
        Engineering, Documentation
      </p>
    </a>
  </article>

  <article>
    <a
      href="https://ceme.nust.edu.pk/"
      aria-label="National University of Science and Technology"
    >
      <h3>Research Assistant</h3>
      <p>
        <strong>Company:</strong>
        National University of Sciences and Technology (NUST)
      </p>
      <p><strong>Employment Type:</strong> Part-time</p>
      <p><strong>Duration:</strong> Jun 2018 - May 2019 (1 yr)</p>
      <p><strong>Location:</strong> Islāmābād, Pakistan (On-site)</p>
      <ul>
        <li>Worked on the development of a low-cost sprayer drone</li>
        <li>Created a ROS Gazebo simulation for testing drone operations</li>
        <li>Developed control systems for fluid dispensing</li>
      </ul>
      <p>
        <strong>Skills:</strong> Computer-Aided Design (CAD), Drones, Precision
        Agriculture
      </p>
    </a>
  </article>

  <article>
    <a
      href="https://www.linkedin.com/company/incline-artificial-intelligence/"
      aria-label="Incline"
      Artifical
      Intelligence
    >
      <h3>Machine Learning Engineer</h3>
      <p>
        <strong>Company:</strong>
        Incline Artificial Intelligence<
      </p>
      <p><strong>Employment Type:</strong> Part-time</p>
      <p><strong>Duration:</strong> Jan 2018 - Dec 2018 (1 yr)</p>
      <p><strong>Location:</strong> Islamabad, Islāmābād, Pakistan (On-site)</p>
      <ul>
        <li>Worked with autonomous vehicles and drones</li>
        <li>Observed self-driving car simulation development</li>
        <li>Studied LIDAR-based urban mapping techniques</li>
      </ul>
      <p>
        <strong>Skills:</strong> SQL, Autonomous Vehicles, Software,
        Mechatronics, Sensor Fusion, Machine Learning, Engineering, Artificial
        Intelligence (AI), Convolutional Neural Networks (CNN), Data Loading,
        Data Modeling, Drones, Documentation
      </p>
    </a>
  </article>
</section>

<section class="certifications">
  <h2>Certifications</h2>
  <table>
    <thead>
      <tr>
        <th>Certification</th>
        <th>Issuer</th>
        <th>Issue Date</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Deep Learning Specialization</td>
        <td>DeepLearning.AI</td>
        <td>01/2021</td>
        <td>
          <a
            href="https://www.coursera.org/account/accomplishments/specialization/MNPDUQLBGTJJ"
            target="_blank"
            >View Certificate</a
          >
        </td>
      </tr>

      <tr>
        <td>Build Basic Generative Adversarial Networks (GANs)</td>
        <td>DeepLearning.AI</td>
        <td>08/2023</td>
        <td>
          <a
            href="https://www.coursera.org/account/accomplishments/records/L8ZRY5BMMTX7"
            target="_blank"
            >View Certificate</a
          >
        </td>
      </tr>

      <tr>
        <td>Foundations of Project Management</td>
        <td>Google</td>
        <td>06/2024</td>
        <td>
          <a
            href="https://www.coursera.org/account/accomplishments/certificate/YR6GQ7XESHPB"
            target="_blank"
            >View Certificate</a
          >
        </td>
      </tr>

      <tr>
        <td>Paragliding Certificate</td>
        <td>Army School of Physical Training Kakul</td>
        <td>06/2013</td>
        <td>
          <a href="./static/para.avif" target="_blank">
            <img
              src="./static/para.avif"
              alt="Paragliding Certificate - Army School of Physical Training Kakul"
              width="0"
              height="0"
            />

            View Certificate</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="testimonials-container">
  <h2>What My Clients Say</h2>

  <div class="testimonial-grid">
    <div class="testimonial-card">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <p class="testimonial-text">
          "Excellent work from Hassan. He completed not just the original job
          but also a second milestone, which included updates and enhancements
          to the initial project. Hassan was very structured, communicative, and
          committed to delivering exactly what we needed. He went above and
          beyond to ensure a thorough understanding of the project's
          deliverables. We highly recommend Hassan and look forward to working
          with him again!"
        </p>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Mohammed Hoosen</h3>
            <p>Upwork Client</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <p class="testimonial-text">
          "Hassan Kamran is skilled in front-end development and
          troubleshooting, proficient in HTML, CSS, and JavaScript. His
          problem-solving abilities ensure efficient issue resolution, making
          him a valuable asset to any team."
        </p>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Syed Ikram</h3>
            <p>Security Analyst, Ferro Technics</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card long-testimonial">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <div class="testimonial-text-container">
          <p class="testimonial-text">
            "I had the privilege of studying and collaborating with Hassan on
            several projects. He consistently demonstrated exceptional technical
            expertise and a strong work ethic. Hassan's ability to lead teams,
            develop innovative solutions, and deliver high-quality results makes
            him a reliable and highly skilled professional. His dedication and
            collaborative spirit were evident in every task he undertook, making
            him an invaluable team member."
          </p>
        </div>
        <button class="read-more-btn">Read More</button>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Hamza Nawaz</h3>
            <p>Co-founder NCORP</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <p class="testimonial-text">
          "I worked with him, He is a skilled problem-solver."
        </p>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Snawar Hussain</h3>
            <p>Researcher, Fraunhofer MEVIS</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <p class="testimonial-text">
          "Having known him personally I can easily say that Hassan is one
          dedicated and hardworking professional who handle all tasks
          responsibly. And would be a great fit for any team."
        </p>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Ehtisham ul Haq</h3>
            <p>Manager Information Technology Advisory, KPMG In Pakistan</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card long-testimonial">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <div class="testimonial-text-container">
          <p class="testimonial-text">
            "I had the privilege of working alongside him in the Army, where he
            consistently demonstrated exceptional skills, dedication, and a
            strong work ethic. He possesses a remarkable ability to, solve
            complex problems, or lead teams effectively. He is a highly
            motivated individual who is always eager to learn and grow. In
            addition to his technical expertise, Hassan is an excellent team
            player. He is always willing to help others and is highly respected
            by colleagues. I am confident that Hassan will be a valuable asset
            to any team."
          </p>
        </div>
        <button class="read-more-btn">Read More</button>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Muhammad Hashir</h3>
            <p>Technical Lead, Poplin</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card long-testimonial">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <div class="testimonial-text-container">
          <p class="testimonial-text">
            "I had the pleasure of working with Hassan Kamran for a year at
            Wisdom Wheel Wireless, where he served as an Embedded Engineer and
            played a crucial role in business development. Hassan's technical
            expertise and dedication were evident from the start, and he quickly
            became an invaluable member of our team. As an Embedded Engineer,
            Hassan demonstrated exceptional skill in designing and implementing
            embedded systems. His deep understanding of both hardware and
            software, combined with his problem-solving abilities, allowed him
            to tackle complex technical challenges with ease. He consistently
            delivered high-quality work, ensuring that our projects were
            completed on time and exceeded expectations. In addition to his
            technical contributions, Hassan also made significant impacts in
            business development. His strategic thinking and ability to identify
            new opportunities helped drive the growth of our company. He
            effectively communicated with clients and stakeholders, building
            strong relationships and fostering a collaborative environment.
            Hassan's hard work, dedication, and positive attitude made a lasting
            impression on everyone he worked with. He is not only a skilled
            engineer but also a proactive and innovative business professional.
            I am confident that Hassan will continue to achieve great success in
            his future endeavors and highly recommend him for any role he
            pursues."
          </p>
        </div>
        <button class="read-more-btn">Read More</button>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Rooshaan Rajput</h3>
            <p>Sales and Design Engineer, Foundation Solar Energy Ltd</p>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-icon">"</div>
      <div class="testimonial-content">
        <p class="testimonial-text">
          "Hassan had been very responsive at work. His ability to grasp things
          in shortest time and managing work load makes him valuable addition to
          businesses. His interpersonal skills also add upto his bouquet of
          traits that offer helping hand in negotiations. I recommend working
          with him and wish him all the best."
        </p>
        <div class="testimonial-footer">
          <div class="testimonial-avatar">
            <div class="avatar-placeholder"></div>
          </div>
          <div class="testimonial-info">
            <h3>Faiq Ahmad Butt</h3>
            <p>Head, FAB TRONICS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <h2>Frequently Asked Questions</h2>
  <details class="faq-item">
    <summary>What services do you offer?</summary>
    <p>
      I am a problem solver at heart, specializing in AI-driven solutions, IoT
      integrations, and scalable cloud applications. Whether it's optimizing
      processes, automating workflows, or developing intelligent systems, I
      design and implement innovative solutions tailored to complex challenges
      across various industries.
    </p>
  </details>
  <details class="faq-item">
    <summary>How can I contact you for a project?</summary>
    <p>
      I'm happy to help! Feel free to book a free consultation to discuss your
      project. You can reach me via email at contact@engrhassankamran.com or
      call me at +92 303 944 1945. I look forward to collaborating with you!
    </p>
  </details>

  <details class="faq-item">
    <summary>What makes your approch so unique?</summary>
    <p>
      I take a holistic approach to problem-solving, drawing from my
      multidisciplinary background in Mechatronics, AI, and Computer Science. As
      an engineer with expertise in mechanical, electrical, software, controls,
      and robotics systems, I view challenges from multiple perspectives,
      ensuring a comprehensive and innovative solution. My ability to integrate
      diverse technical domains allows me to see connections others might miss,
      making me highly effective at solving complex problems efficiently and
      end-to-end.
    </p>
  </details>

  <details class="faq-item">
    <summary>How did you get started?</summary>
    <p>
      I've always had a deep passion for technology and began teaching myself to
      program early on. My journey has been driven by persistence and continuous
      learning. I started as a freelancer and contract developer, gradually
      honing my skills through hands-on experience. With each role, I tackled
      increasingly complex challenges—spanning AI, embedded systems, and cloud
      computing. Now, with a wealth of expertise, I offer my services globally,
      delivering innovative solutions across industries.
    </p>
  </details>

  <details class="faq-item">
    <summary>Tell me about your background?</summary>
    <p>
      I am a Mechatronics Engineer and Computer Scientist with a diverse
      background spanning AI development, embedded systems, and cloud computing.
      My experience includes leading technical projects in high-pressure
      environments, including my tenure as a Captain in the Army, where I
      managed logistics, maintenance, and performance audits. I have a strong
      track record of delivering innovative solutions, from AI-driven business
      intelligence systems to IoT-enabled automation, ensuring efficiency and
      scalability across industries.
    </p>
  </details>

  <details class="faq-item">
    <summary>How do you solve problems?</summary>
    <p>
      I bring a unique blend of expertise and innovation, solving cutting-edge
      problems with cutting-edge solutions. My multidisciplinary background
      allows me to approach challenges from multiple perspectives, ensuring
      efficient, forward-thinking, and impactful results. When you work with me,
      you’re not just getting a solution—you’re getting a strategic,
      future-proof approach to problem-solving.
    </p>
  </details>

  <details class="faq-item">
    <summary>How does you military experience enhance you services?</summary>
    <p>
      My military background has trained me to deliver results in
      mission-critical, high-stress environments. I excel under pressure,
      maintain a disciplined approach to problem-solving, and ensure precision
      in execution. This experience enables me to tackle complex technical
      challenges with efficiency, adaptability, and a results-driven mindset.
    </p>
  </details>

  <details class="faq-item">
    <summary>Why did you make this website?</summary>
    <p>
      I created this website to share my thoughts, expertise, and innovative
      solutions with the world. It serves as a platform to showcase my work,
      connect with like-minded professionals, and help others solve complex
      technical challenges.
    </p>
  </details>
</section>
