<div class="video-embed">
  <div class="video-container">
    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}?rel=0" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
  {% if config.domain in ['localhost', '127.0.0.1'] %}
  <div class="video-note">
    <small>Video embeds disabled in development mode</small>
  </div>
  {% endif %}
</div>
